body {
    color: #133072;
    font-family:  "Outfit", sans-serif;
    background-color: #EFEFEF;
    margin: 0%;
    padding: 0%;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.main-content {
    padding: 1rem;
}

.container {
    padding-left: 2%;
    margin-left: 2px;
    margin-right: 2px;
}

.section-page {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 0px, 0px,  0px,  0px;
}

.background-theme-primary {
    background: linear-gradient(to bottom, #D5E6F7 5%, #FFFFFF 95%);
}

.background-theme-secondary {
    background: linear-gradient(to bottom, #D5E6F7, #D5ADFB);
}


/**Navbar*/

.sidebar {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 17%;
    height: auto;
    margin: 1rem;
    border: solid 3px #FFFFFF;
    border-radius: 10px;
    z-index: 1000;
}

.sidebar a {
    color: #133072;
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
    
.sidebar a:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #FFFFFF;
}

#navbarToggle {
    background-color: #FFFFFF;
}

/**Inicio section*/

#inicio {
    background-image: url('../images/header.svg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
}

.card-information {
    border-radius: 15px; 
    border: #ffffff05 solid 0px; background-color: #FFFF;
    padding: 0%;
    width: 72%;
} 

.card-principal-information {
    width: 40%;  
    margin-top: 20%; 
    margin-bottom: 20%; 
    margin-left: 5%;
}


/**Quienes somos secction*/

#quienes_somos {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.card-border-color {
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:solid 3px #133072;
    border-radius: 15px;
}


/**Somos est section*/

.card-space {
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 5%;
}

#video_registro_legal {
    background-color: #D5ADFB;
    border:solid 1px #D5ADFB;
    border-radius: 15px;
    padding: 2%;
    margin-bottom: 10%;
    margin-top: 10%;
}

.responsive-img {
    padding: 0%;
}

.btn{
    background-color: #133072;
    border: #133072;
    margin: 10px;
}

.btn:hover {
    border: #133072;
    background-color: #3f5b9e;
}


/** Map section */

#mapa {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

#estudiantes {
    border: solid 2px #FF4E07;
    border-radius: 5px;
    color: #FF4E07;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#estudiantes_info {
    border: solid 2px #FF4E07;
    background-color: #FF4E07;
    color: #FFFFFF;
}

.numero {
    font-size: 30px;
}

#staff {
    border: solid 2px #D5ADFB;
    border-radius: 5px;
    color: #D5ADFB;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-right: 25px;
    margin-left: 25px;
}

#staff_info {
    border: solid 2px #D5ADFB;
    background-color: #D5ADFB;
}

#profesores {
    border: solid 2px #602680;
    border-radius: 5px;
    color: #602680;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#profesores_info {
    border: solid 2px #602680;
    color: #FFFFFF;
    background-color: #602680;
}

.estadistica {
    /* width: 42rem; */
    width: fit-content;
}

.numero {
    font-size: 30px;
}


/**JoinUs page*/

#unete {
    background-image: url('../images/unete.svg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    /* width: 100%; */
    overflow: hidden;
}

.aling-item {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 6%;
    margin-top: 2%;
}

#imagen_logo {
    background-color: #FFFFFF;
    border: #FFFFFF 1px solid;
    border-radius: 35px;
    padding: 10px;
}


/**Responsive*/

@media (min-width: 5px) and (max-width: 768px){

    .sidebar {
        /* display: none; */
        right: 10px !important;
        width: 44% !important;
    }

    #inicio {
        background-position: right;
    }

    .card-principal-information {
        width: 100%;  
        margin-top: 5%; 
        margin-bottom: 80%; 
        margin-left: 7%;
    }

    #quienes_somos {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .row>* {
        flex-shrink: unset;
    }

    #informacion {
        display: flex;
        flex-direction: column-reverse;
    }

    #estudiantes_info {
        border: solid 2px #F90052;
        background-color: #F90052;
    }

    #staff_info {
        border: solid 2px #D5ADFB;
        background-color: #D5ADFB;
        color: #FFFFFF;
    }

    #profesores_info {
        border: solid 2px #133072;
        background-color: #133072;
    }

    .estadistica {
        width: auto;
    }

    #estudiantes {
        border: solid 2px #F90052;
        color: #F90052;
        padding:35px;
        margin-top: 10px;
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    #staff {
        border: solid 2px #D5ADFB;
        color: #D5ADFB;
        padding: 35px;
        margin-top: 10px;
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    #profesores {
        border: solid 2px #133072;
        color: #133072;
        padding: 35px;
        margin-top: 10px;
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1074px;
    }
}
